<%- include("partials/header") %>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<div class="ui huge header">Dashboard</div>
<h3>Index Page</h3>

<canvas id="cycleTimeChart"></canvas>


<script src="/assets/js/cycleTime.js"></script>
<%- include("partials/footer") %>